*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12, 13, 18, 0.88), rgb(3 46 10 / 61%)), url(img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* .header{
    background: url(img/header-bg.jpg);  
  }
  .head{
      min-height: 100vh;
      width: 100%;
      background: rgba(10, 26, 116, 0.61) ;
      background-position: center;
      background-size: cover;
      position: relative;
  }
*/

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 180px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #22b14c;
}